target
build

*deploy*
*classes*
*.iws
*.iml
.idea
.idea/ant.xml
.idea/compiler.xml
.idea/copyright
.idea/misc.xml
.idea/scopes
.idea/uiDesigner.xml
.idea/workspace.xml
*/*/.idea/*
*/*/*.iml

*.backup
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
.*.cs
.#*
.ade_path
.data
.depprod
.depprod_nt
.do_pool
.fullsource
.fullsource_nt
.svn
*.bak
*.cdi
*.class
*.client_contrib
*.contrib*
*.DS_Store
*.generated.java
*.ignore
*.keep
*.labellog.emd
*.metadata
*.mv.*
*.rename.*
*.rvi
*.saved.*
*.scc
*.sync.*
*.unbranch.*
*.unco.*
*.unmkelem.*
*.data
*~
*#GRABTRANS*
*#JDEVADF_*
classes
CVS
modelers.map
temp
.mdsExport
/BPM/**/deploy
/UI/**/deploy
/supporting/**/deploy
!/supporting/SOA_AssignmentProxy/**/deploy
.git
*\\*
